/* style chat elements */
.pronoundb-pronouns {
  font-size: 0.75rem;
  font-weight: 500;
  cursor: default;
  pointer-events: none;
  margin-left: .5rem;
  height: 1.25rem;
  color: var(--text-muted);
  display: inline-block;
}
.pronoundb-pronouns[data-compact="true"] { display: inline }
.pronoundb-pronouns[data-compact="false"]::after {
  content: "•";
  display: inherit;
  margin-left: 0.25rem;
  margin-right: -0.25rem;
}

.pronoundb-pronouns[data-format="pascal"] {
  text-transform: capitalize;
}

/* less margin when there's a role icon (but not when there's a system tag) */
span[class*="hasRoleIcon-"]:not([class*="hasSystemTag-"]) > .pronoundb-pronouns {
  margin-left: .25rem;
}

/* funny css because the JS doesn't have enough info to determine this */
div[id^="message-reply-context"] > .pronoundb-pronouns { display: none; }

/* hide pronouns until username is hovered */
span[id^="message-username-"]:not(:hover) > :is(
  .pronoundb-pronouns[data-hover="always"],
  .pronoundb-pronouns[data-hover="compact"][data-compact="true"]
) {
  display: none;
}
