/* style chat elements */
.pronoundb-pronouns {
  font-size: 0.75rem;
  font-weight: 500;
  cursor: default;
  pointer-events: none;
  margin-left: .5rem;
  height: 1.25rem;
  color: var(--text-muted);
  display: inline-block;
}
.pronoundb-pronouns[data-compact="true"] { display: inline }
.pronoundb-pronouns[data-compact="false"]::after {
  content: "•";
  display: inherit;
  margin-left: 0.25rem;
  margin-right: -0.25rem;
}

.pronoundb-pronouns[data-format="pascal"] {
  text-transform: capitalize;
}
.pronoundb-discord[data-format="lowercase"] {
  text-transform: lowercase;
}

/* fix margin when there's a role icon (and not a system tag) */
span[class*="hasRoleIcon-"]:not([class*="hasBadges-"]) > .pronoundb-pronouns {
  margin-left: .25rem;
  margin-right: 0.25rem;
}

/* margins for pronoundb + discord pronouns */
.pronoundb-pronouns ~ .pronoundb-discord {
  margin-left: .5rem !important;
}

/* hide pronouns in reply previews (funny css because the JS doesn't have enough info to determine this) */
div:is(
  [id^="message-reply-context"],
  [class*="threadMessageAccessory-"]
) > .pronoundb-pronouns { display: none; }

/* hide pronouns until username is hovered */
span[id^="message-username-"]:not(:hover) > :is(
  .pronoundb-pronouns[data-hover="always"],
  .pronoundb-pronouns[data-hover="compact"][data-compact="true"]
) {
  display: none;
}


/* settings */
.pronoundb-settings-notice {
  margin-bottom: 20px;
}
