/* style chat elements */
.pronoundb-pronouns {
  font-size: 0.75rem;
  font-weight: 500;
  cursor: default;
  pointer-events: none;
  margin-left: .5rem;
  height: 1.25rem;
  color: var(--text-muted);
  display: inline-block;
}
.pronoundb-pronouns[data-compact="true"] {
  display: inline;
}

/* less margin when there's a role icon (but not when there's a system tag) */
span[class*="hasRoleIcon-"]:not([class*="hasSystemTag-"]) > .pronoundb-pronouns {
  margin-left: .25rem;
}
/* fix weird margin with the system tag spacing (mostly for compatibility with StaffTags) */
span[class*="hasSystemTag-"] > .pronoundb-pronouns {
  margin-right: -.25rem;
}

/* funny css because the JS doesn't have enough info to determine this */
div[id^="message-reply-context"] > .pronoundb-pronouns { display: none; }
/* todo: this could be a setting tbh (default to only when compact) */
span[id^="message-username-"]:not(:hover) > .pronoundb-pronouns[data-compact="true"] {
  display: none;
}
